# rename this file to .env (just remove the .example) and fill everything in here
# db secrets - supabase dashboard > connect > session pooler
DB_HOST=aws-0-<region>.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.<project-ref>
DB_PASSWORD=

SECRET_KEY=
DISCORD_TOKEN=

DEBUG_MODE=True # set to false if in production, capital letter (i mean make sure it's within the python syntax)
